<a href="https://colab.research.google.com/github/mtn75/Python-Toturial/blob/main/python_workshop_fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables

containers for storing data values.

Variables are names of the data values.

In [ ]:
x = 1 
text = "Hello World!"

print(x)
print(text)

1
Hello World!

In [ ]:
x = y = 31

print(x)
print(y)

31
31

In [ ]:
x , y = 12, 45

print(x)
print(y)

12
45

# Data Types in Python

## Numeric



*   int - integer: -5, 10, 77, 0
*   float - Floating Point numbers: 3.1457, 0.34, 0.78

In [ ]:
x = 1
y = 1.2
z = -56

print(x)
print(y)
print(z)

1
1.2
-56

In [ ]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'int'>

In [ ]:
x = 2.5

print(type(x))

<class 'float'>

## Boolean

bool - boolean : True or False

In [ ]:
x, y = True, False

print(x)
print(y)

True
False

In [ ]:
print(type(x))
print(type(y))

<class 'bool'>
<class 'bool'>

## Text

strings - Sequence of characters representing a text. 

Are used with single qoute '' or double qoutes ""

In [5]:
text = "welcome to the data analyst toolkit workshop!"

print (text)

welcome to the data analyst toolkit workshop!

### Capitalise 

capitalize()

In [6]:
capital_text = text.capitalize()

print(capital_text)

Welcome to the data analyst toolkit workshop!

### Search

find()

In [ ]:
has_data = text.find('data')
has_hello = text.find('hello')

print(has_data)
print(has_hello)

15
-1

### Search for ending

endswith()

In [ ]:
ends_with_workshop = text.endswith('workshop!')
ends_with_world = text.endswith('world')

print(ends_with_workshop)
print(ends_with_world)

True
False

### Replace

replace()

In [7]:
replaced_text = text.replace('workshop', 'tutorial')

print(replaced_text)
print(text)

welcome to the data analyst toolkit tutorial!
welcome to the data analyst toolkit workshop!

### Lower/Upper Case

lower()
upper()

In [ ]:
upper_case = text.upper()

print(upper_case)

WELCOME TO THE DATA ANALYST TOOLKIT WORKSHOP!

In [ ]:
lower_case = upper_case.lower()

print(lower_case)

welcome to the data analyst toolkit workshop!

### Slicing

In [ ]:
middle_text = text[10:20]

print(middle_text)

 the data

In [ ]:
end_text = text[20:]

print(end_text)

analyst toolkit workshop!

In [ ]:
first_text = text[:20]

print(first_text)

welcome to the data

In [ ]:
last_x_chars = text[-17:]

print(last_x_chars)

toolkit workshop!

## Type Casting

Data can sometimes be converted from one type to another. 

string “3.0” = floating point number 3.0 = integer number 3

int() - Converts compatible data into an integer. This function will truncate floating point numbers.

float() - Convert compatible data into a float.

str() - Converts compatible data into a string.

In [43]:
number = 5.7

print(type(number))

int_cast = int(number)
print(int_cast)
print(type(int_cast))

str_cast = str(number)
print(str_cast)
print(type(str_cast))

string_num = '7'

int_cast = int(string_num)
print(int_cast)
print(type(int_cast))

float_cast = float(string_num)
print(float_cast)
print(type(float_cast))

7
<class 'int'>
7.0
<class 'float'>

# Collections:

## Lists

Sequences of values.

[item1, item2]



*   Ordered
*   Changable
* Duplicates Allowed

In [1]:
sample_list = [1,2,2,3,-5,5,"hello",6.12, False]
print(sample_list)

list_length = len(sample_list) # length of list
print(list_length)

[1, 2, 2, 3, -5, 5, 'hello', 6.12, False]
9

### Access

In [3]:
fifth_cell = sample_list[4]

print(fifth_cell)
print(sample_list[-4])

-5
5

### Slicing

In [17]:
nums = list(range(10))    # range is a built-in function that creates a list of integers
# nums = list(range(10,20))
print(nums)

print(nums[2:7])          # Get a slice from index 2 to 7 (exclusive)
print(nums[7:])           # Get a slice from index 7 to the end
print(nums[:2])           # Get a slice from the start to index 2 (exclusive)
print(nums[:])            # Get a slice of the whole list
print(nums[:-1])          # Slice indices can be negative

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6]
[7, 8, 9]
[0, 1]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

### Modify



*   insert()
*   append()
* remove()
* pop()
* clear()

In [35]:
nums = list(range(10))
print(nums)

nums[5] = 1                  #change a cell
print(nums)

nums[3:5] = [11,12]           #change multiple cells
print(nums)

nums[3:5] = [3]               #change multiple cells to one cell
print(nums)

nums.insert(2, 22)            #insert to a specific cell
print(nums)
  
nums.append(100)              #add to the end of the list
print(nums)

nums.remove(3)                #remove an item from the list
print(nums)

nums.pop(3)                   #remove an item in a specific cell
print(nums)

nums.clear()                  #remove all items
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 1, 6, 7, 8, 9]
[0, 1, 2, 11, 12, 1, 6, 7, 8, 9]
[0, 1, 2, 3, 1, 6, 7, 8, 9]
[0, 1, 22, 2, 3, 1, 6, 7, 8, 9]
[0, 1, 22, 2, 3, 1, 6, 7, 8, 9, 100]
[0, 1, 22, 2, 1, 6, 7, 8, 9, 100]
[0, 1, 22, 1, 6, 7, 8, 9, 100]
[]

## Sets

{item1, item2}

*   Unordered
*   Unchangable
* Duplicates Not Allowed

In [ ]:
sample_set = {1,2,2,3,-5,5,"hello",6.12, False}
print(sample_set)

set_length = len(sample_set) # length of set
print(set_length)

{False, 1, 2, 3, 'hello', 5, 6.12, -5}
8

### Access

In [ ]:
for item in sample_set:
  print(item)

False
1
2
3
hello
5
6.12
-5

### Modify



*   add()
*   update()
* remove()
* pop()
* clear()

In [ ]:
nums_set = set(range(10))
print(nums_set)

nums_set.add(12)                      #adds to the set
print(nums_set)

nums_set.update({3,4,6,15,18})        #adds another set to this set
print(nums_set)

nums_set.remove(15)                   #removes a specific item from set
print(nums_set)

nums_set.pop()                        #removes the first item of the set
print(nums_set)

nums_set.clear()                      #removes all items of the set
print(nums_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 15, 18}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 18}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 18}
set()

## Tuples

(item1, item2)

*   Ordered
*   Unchangable
* Duplicates Allowed

In [ ]:
sample_tuple = (1,2,2)
print(sample_tuple)

tuple_length = len(sample_tuple) # length of tuple
print(tuple_length)

one_tuple = (1,)
print(type(one_tuple))


wrong_tuple = (1)            #not a tuple, disregards the paranthesis 
print(type(wrong_tuple))

(1, 2, 2)
3
<class 'tuple'>
<class 'int'>

### Access and Slicing

In [ ]:
second_cell = sample_tuple[1]

print(second_cell)
print(sample_tuple[-3])
print(sample_tuple[1:2])

2
1
(2,)

## Dictionaries

Store data values in key:value pairs.

{key1:value1, key2:value2}

*   Ordered
*   Changable
* Duplicates Not Allowed

In [ ]:
dog_dict = {'breed': 'Golden Retriever', 'age': 3, 'Hypoallergenic': False }  

print(dog_dict['breed'])                                        # Get the value of a key
print('age' in dog_dict)                                        # Check if a dictionary has a given key

Golden Retriever
True

### Access

In [ ]:
x = dog_dict.get("breed")           #Access a value by its key
print(x)

x = dog_dict.keys()                 #Get all keys 
print(x)

x = dog_dict.values()               #Get all values
print(x)

x = dog_dict.items()                #Get all items
print(x)

Golden Retriever
dict_keys(['breed', 'age', 'Hypoallergenic'])
dict_values(['Golden Retriever', 3, False])
dict_items([('breed', 'Golden Retriever'), ('age', 3), ('Hypoallergenic', False)])

# Exercises

Q1: Create a variable named "name" and assign it to the value of your first name.

In [ ]:
# Write your answer here

Q2: Create a variable named "last_name" and assign it to the value of your last name.

In [ ]:
# Write your answer here

Q3: Create a variable named "full_name" and assign it to the value of your full name using the variables "name" and "last_name" with a space between them.

In [ ]:
# Write your answer here

Q4: Print the length of variable "full_name".

In [ ]:
# Write your answer here

Q5: what data type will x have in x = 5, x = 19.5, x = "hello world!", and x = \[1,2,3\]?

In [ ]:
# Write your answer here

Q6: Convert x into a floating point number in x = 5.

In [ ]:
# Write your answer here