<a href="https://colab.research.google.com/github/mtn75/Python-Toturial/blob/main/python_workshop_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operations

## Arithmetic Operators

|Operator|	Name|	Example|	
| :- | :- | :- |
|+	|Addition	|x + y	|
|-	|Subtraction|	x - y	|
|* | Multiplication | x \* y |
|/|	Division	|x / y	|
|%	|Modulus	|x % y	|
|** |	Exponentiation	| x ** y	|
|//	|Floor division	|x // y|

## Assignment Operators

|Operator|	Example	|Same As|
| :- | :- | :-|
|=	|x = 5|	x = 5	|
|+=	|x += 3	|x = x + 3	|
| -=|	x -= 3|	x = x - 3	|
|*= |	x *= 3	| x = x * 3	|
|/=	|x /= 3|	x = x / 3	|
|%=	|x %= 3	|x = x % 3	|
|//=|	x //= 3|	x = x // 3	|
|**= |	x **= 3	|x = x ** 3	|
|&=	|x &= 3	|x = x & 3|	
| \|=	| x \|= 3	|x = x \| 3	|
|^=	|x ^= 3	|x = x ^ 3	|
| >>=	|x >>= 3|	x = x >> 3|	
|<<=|	x <<= 3	|x = x << 3|

In [10]:
x = 5

x += 3
print(x)

x -= 3
print(x)

x *= 3
print(x)

print(x % 3)

print(x // 3	)

x &= 3
print(x)

8
5
15
0
5
3

## Comparison Operators

|Operator	|Name	|Example|	
| :- | :- | :- |
|==	|Equal	|x == y	|
|!=	|Not equal|	x != y	|
|>|	Greater than	|x > y	|
|<|	Less than	|x < y	|
|>=	|Greater than or equal to |	x >= y	|
|<=	|Less than or equal to|	x <= y|

In [11]:
x, y = 9,4

print(x==y)
print(x==9)
print(x!=y)
print(x<y)
print(x>=y)

False
True
True
False
True

## Other Operators

|Operator	|Description	|Example|
| :- | :- | :- |
|and |	Returns True if both statements are true|	x < 5 and  x < 10	|
|or|	Returns True if one of the statements is true|	x < 5 or x < 4	|
|not|	Reverse the result, returns False if the result is true	|not(x < 5 and x < 10)|
|is |	Returns True if both variables are the same object	|x is y	|
|is not	|Returns True if both variables are not the same object	|x is not y|	
|in |	Returns True if a sequence with the specified value is present in the object|	x in y	|
|not in|	Returns True if a sequence with the specified value is not present in the object|	x not in y|

In [18]:
nums = list(range(10))
string1 = "Hello"
string2 = "hello"


print(3 in nums)
print(15 not in nums)
print(string1 is string2)
print(3 in nums or 4 not in nums)

True
True
False
True

# Conditional Statements

## Loops

## Functions