<a href="https://colab.research.google.com/github/mtn75/Python-Toturial/blob/main/python_workshop_fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables

containers for storing data values.

Variables are names of the data values.

In [21]:
x = 1 
text = "Hello World!"

print(x)
print(text)

1
Hello World!

In [19]:
x = y = 31

print(x)
print(y)

31
31

In [22]:
x , y = 12, 45

print(x)
print(y)

12
45

# Data Types in Python

## Numeric



*   int - integer: -5, 10, 77, 0
*   float - Floating Point numbers: 3.1457, 0.34, 0.78

In [4]:
x = 1
y = 1.2
z = -56

print(x)
print(y)
print(z)

1
1.2
-56

In [10]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'int'>

In [11]:
x = 2.5

print(type(x))

<class 'float'>

## Boolean

bool - boolean : True or False

In [17]:
x, y = True, False

print(x)
print(y)

True
False

In [13]:
print(type(x))
print(type(y))

<class 'bool'>
<class 'bool'>

## Text

strings - Sequence of characters representing a text. 

Are used with single qoute '' or double qoutes ""

In [26]:
text = "welcome to the data analyst toolkit workshop!"

print (text)

welcome to the data analyst toolkit workshop!

### Capitalise 

capitalize()

In [27]:
capital_text = text.capitalize()

print(capital_text)

Welcome to the data analyst toolkit workshop!

### Search

find()

In [28]:
has_data = text.find('data')
has_hello = text.find('hello')

print(has_data)
print(has_hello)

15
-1

### Search for ending

endswith()

In [31]:
ends_with_workshop = text.endswith('workshop!')
ends_with_world = text.endswith('world')

print(ends_with_workshop)
print(ends_with_world)

True
False

### Replace

replace()

In [32]:
replaced_text = text.replace('workshop', 'tutorial')

print(replaced_text)

welcome to the data analyst toolkit tutorial!

### Lower/Upper Case

lower()
upper()

In [34]:
upper_case = text.upper()

print(upper_case)

WELCOME TO THE DATA ANALYST TOOLKIT WORKSHOP!

In [35]:
lower_case = upper_case.lower()

print(lower_case)

welcome to the data analyst toolkit workshop!

### Slicing

In [40]:
middle_text = text[10:20]

print(middle_text)

 the data

In [41]:
end_text = text[20:]

print(end_text)

analyst toolkit workshop!

In [42]:
first_text = text[:20]

print(first_text)

welcome to the data

In [45]:
last_x_chars = text[-17:]

print(last_x_chars)

toolkit workshop!

Further readings:

# Collections:

## Lists

Sequences of values.

[item1, item2]



*   Ordered
*   Changable
* Duplicates Allowed

In [2]:
sample_list = [1,2,2,3,-5,5,"hello",6.12, False]
print(sample_list)

list_length = len(sample_list) # length of list
print(list_length)

[1, 2, 2, 3, -5, 5, 'hello', 6.12, False]

### Access

In [6]:
fifth_cell = sample_list[4]

print(fifth_cell)
print(sample_list[-4])

-5
5

### Slicing

In [30]:
nums = list(range(10))    # range is a built-in function that creates a list of integers
# nums = list(range(10,20))
print(nums)

print(nums[2:7])          # Get a slice from index 2 to 7 (exclusive)
print(nums[7:])           # Get a slice from index 7 to the end
print(nums[:2])           # Get a slice from the start to index 2 (exclusive)
print(nums[:])            # Get a slice of the whole list
print(nums[:-1])          # Slice indices can be negative

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6]
[7, 8, 9]
[0, 1]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

### Modify



*   insert()
*   append()
* remove()
* pop()
* clear()

In [25]:
nums = list(range(10))

nums[5] = 1                  #change a cell
print(nums)

nums[3:5] = [11,12]           #change multiple cells
print(nums)

nums[3:5] = [3]               #change multiple cells to one cell
print(nums)

nums.insert(2, 22)            #insert to a specific cell
print(nums)
  
nums.append(100)              #add to the end of the list
print(nums)

nums.remove(1)                #remove an item from the list
print(nums)

nums.pop(3)                   #remove an item in a specific cell
print(nums)

nums.clear()                  #remove all items
print(nums)

[0, 1, 2, 3, 4, 1, 6, 7, 8, 9]
[0, 1, 2, 11, 12, 1, 6, 7, 8, 9]
[0, 1, 2, 3, 1, 6, 7, 8, 9]
[0, 1, 22, 2, 3, 1, 6, 7, 8, 9]
[0, 1, 22, 2, 3, 1, 6, 7, 8, 9, 100]
[0, 22, 2, 3, 1, 6, 7, 8, 9, 100]
[0, 22, 2, 1, 6, 7, 8, 9, 100]
[]

## Sets

{item1, item2}

*   Unordered
*   Unchangable
* Duplicates Not Allowed

In [31]:
sample_set = {1,2,2,3,-5,5,"hello",6.12, False}
print(sample_set)

set_length = len(sample_set) # length of list
print(set_length)

{False, 1, 2, 3, 'hello', 5, 6.12, -5}
8

### Access

In [32]:
for item in sample_set:
  print(item)

False
1
2
3
hello
5
6.12
-5

### Modify



*   add()
*   update()
* remove()
* pop()
* clear()

In [40]:
nums_set = set(range(10))
print(nums_set)

nums_set.add(12)                      #adds to the set
print(nums_set)

nums_set.update({3,4,6,15,18})        #adds another set to this set
print(nums_set)

nums_set.remove(15)                   #removes a specific item from set
print(nums_set)

nums_set.pop()                        #removes the first item of the set
print(nums_set)

nums_set.clear()                      #removes all items of the set
print(nums_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 15, 18}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 18}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 18}
set()

## Tuples

(item1, item2)

*   Ordered
*   Unchangable
* Duplicates Allowed

## Dictionaries

# Operators

# Exercises

Q1: Create a variable named "name" and assign it to the value of your first name.

In [51]:
# Write your answer here

Q2: Create a variable named "last_name" and assign it to the value of your last name.

In [52]:
# Write your answer here

Q3: Create a variable named "full_name" and assign it to the value of your full name using the variables "name" and "last_name" with a space between them.

In [56]:
# Write your answer here

Q4: Print the length of variable "full_name".

In [57]:
# Write your answer here

Q5: what data type will x have in x = 5, x = 19.5, x = "hello world!", and x = \[1,2,3\]?

In [54]:
# Write your answer here

Q6: Convert x into a floating point number in x = 5.

In [55]:
# Write your answer here